{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block page_head %}
    <!-- Include Chart.js library for graph creation -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
{% endblock %}
{% block page_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="graph-container rounded shadow p-4">
                    <h2>Top 20 Websites</h2>
                    <canvas class="bar-chart" id="barChart"></canvas>
                </div>
            </div>
            <div class="col-md-6">
                <div class="graph-container rounded shadow p-4">
                    <h2>Pie Chart</h2>
                    <canvas class="pie-chart" id="pieChart"></canvas>
                </div>
            </div>
        </div>
    </div>

    <style>
        /* Add margin between the charts */
        .col-md-6 {
            margin-bottom: 20px;
            margin-top: 20px;
        }

        /* Ensure both charts have the same height */
        .bar-chart {
            height: 300px; /* Adjust the height as needed */
            border-radius: 50px;
        }

        .pie-chart {
            height: 150px;
            border-radius: 50px;
        }

        /* Style for graph containers */
        .graph-container {
            background-color: rgba(255, 255, 255, 0.9); /* Slightly transparent background */
            border-radius: 50px;
        }
    </style>

    <script>
        // Example data for pie chart
        var pielabels = {{ examplepiegraph.labels | tojson | safe }};
        var piedatasets = {{ examplepiegraph.datasets | tojson | safe }};

        var pieData = {
            labels: pielabels, // Labels as categories
            datasets: piedatasets,
        };

        // @ts-ignore
        var barlabels = {{ examplebargraph.labels | tojson | safe }};
        // @ts-ignore
        var bardatasets = {{ examplebargraph.datasets | tojson | safe }};

        // Example data for pie chart
        var barData = {
            labels: barlabels,
            datasets: bardatasets,
        };

        // Create bar chart (horizontal)
        var barChartCanvas = document.getElementById('barChart').getContext('2d');
        new Chart(barChartCanvas, {
            type: 'bar', // Set chart type to horizontalBar
            data: barData, // Use the modified barData
        });

        // Create pie chart
        var pieChartCanvas = document.getElementById('pieChart').getContext('2d');
        new Chart(pieChartCanvas, {
            type: 'pie',
            data: pieData,
        });
    </script>
{% endblock %}
