{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block page_head %}
    <!-- Include Chart.js library for graph creation -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
{% endblock %}
{% block page_content %}
    <style>
        .container {
            margin-top: 100px;
        }

        .btn-primary {
            background-color: #017bfe;
            border-color: #017bfe;
        }

        .btn-primary:hover {
            background-color: #017bfe;
            border-color: #017bfe;
        }

        .btn-primary:active {
            background-color: #017bfe;
            border-color: #017bfe;
        }

        .btn-primary:focus {
            box-shadow: none;
        }

        h1 {
            font-family: "proxima-nova", sans-serif;
            font-size: 50px;
            font-weight: 700;
            font-style: normal;
            color: #017bfe;
        }

        .col-md-6 {
            font-family: "proxima-nova", sans-serif;
            font-size: 20px;
            font-weight: 700;
            font-style: normal;
            background-color: rgba(255, 255, 255, 0.9); /* Slightly transparent background */
            border-radius: 15px;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
            color: #017bfe;
        }

        .button-container {
            width: 10000px;
            align-items: center;
            margin-top: 20px;
            margin-bottom: 1000px;
        }
    </style>
    <div class="container text-center">
        <div class="row">
            <div class="col-md-6">
                <img src="homepic.jpg" alt="img">
            </div>
            <div class="col-md-6">
                <h1>TabTime</h1>
                <p>With TabTime you'll never lose track of your internet usage again!</p>
            </div>
            <div class="button-container">
                <a href="https://github.com/Crustacean-Hacks/HackUIowa" target="_blank"
                   class="btn btn-primary btn-lg btn-block">Add to Chrome ↓</a>
            </div>
        </div>
    </div>
{% endblock %}
